In [22]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('D:\SberMarket'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

D:\SberMarket\notebookfa5a3adad6.ipynb
D:\SberMarket\sample_submission.csv
D:\SberMarket\sample_submission.csv.zip
D:\SberMarket\tab_4_user_profiles.csv
D:\SberMarket\tab_4_user_profiles.csv.zip
D:\SberMarket\tab_6_city.csv
D:\SberMarket\test-recsys.zip
D:\SberMarket\.ipynb_checkpoints\notebookfa5a3adad6-checkpoint.ipynb
D:\SberMarket\kaggle_tab_1345\tab_1_orders.csv
D:\SberMarket\kaggle_tab_1345\tab_3_categories.csv
D:\SberMarket\kaggle_tab_1345\tab_4_user_profiles.csv
D:\SberMarket\kaggle_tab_1345\tab_5_product_properties.csv
D:\SberMarket\sbermarket_tab_2_1\tab_2_products_2020-01-01.csv
D:\SberMarket\sbermarket_tab_2_1\tab_2_products_2020-01-11.csv
D:\SberMarket\sbermarket_tab_2_1\tab_2_products_2020-01-21.csv
D:\SberMarket\sbermarket_tab_2_1\tab_2_products_2020-01-31.csv
D:\SberMarket\sbermarket_tab_2_1\tab_2_products_2020-02-10.csv
D:\SberMarket\sbermarket_tab_2_1\tab_2_products_2020-02-20.csv
D:\SberMarket\sbermarket_tab_2_1\tab_2_products_2020-03-01.csv
D:\SberMarket\sbermarket_tab_2_1\tab_2_products_2020-03-11.csv
D:\SberMarket\sbermarket_tab_2_1\tab_2_products_2020-03-21.csv
D:\SberMarket\sbermarket_tab_2_1\tab_2_products_2020-03-31.csv
D:\SberMarket\sbermarket_tab_2_2\tab_2_products_2020-04-10.csv
D:\SberMarket\sbermarket_tab_2_2\tab_2_products_2020-04-20.csv
D:\SberMarket\sbermarket_tab_2_2\tab_2_products_2020-04-30.csv
D:\SberMarket\sbermarket_tab_2_3\tab_2_products_2020-05-10.csv
D:\SberMarket\sbermarket_tab_2_3\tab_2_products_2020-05-20.csv
D:\SberMarket\sbermarket_tab_2_3\tab_2_products_2020-05-30.csv
D:\SberMarket\sbermarket_tab_2_4\tab_2_products_2020-06-09.csv
D:\SberMarket\sbermarket_tab_2_4\tab_2_products_2020-06-19.csv
D:\SberMarket\sbermarket_tab_2_4\tab_2_products_2020-06-29.csv
D:\SberMarket\sbermarket_tab_2_5\tab_2_products_2020-07-09.csv
D:\SberMarket\sbermarket_tab_2_5\tab_2_products_2020-07-19.csv
D:\SberMarket\sbermarket_tab_2_5\tab_2_products_2020-07-29.csv
D:\SberMarket\sbermarket_tab_2_6\tab_2_products_2020-08-08.csv
D:\SberMarket\sbermarket_tab_2_6\tab_2_products_2020-08-18.csv
D:\SberMarket\sbermarket_tab_2_6\tab_2_products_2020-08-28.csv
D:\SberMarket\sbermarket_tab_2_6\tab_2_products_2020-09-07.csv

In [23]:
cd D:\SberMarket\kaggle_tab_1345

D:\SberMarket\kaggle_tab_1345

In [24]:
import pandas as pd
import numpy as np

In [25]:
df1 = pd.read_csv('tab_1_orders.csv')
df3 = pd.read_csv('tab_3_categories.csv')
df4 = pd.read_csv('tab_4_user_profiles.csv')
df5 = pd.read_csv('tab_5_product_properties.csv')

In [26]:
cd ..

D:\SberMarket

In [27]:
df6 = pd.read_csv('tab_6_city.csv')

In [28]:
cd D:\SberMarket\sbermarket_tab_2_1

D:\SberMarket\sbermarket_tab_2_1

In [29]:
df2_1_1 = pd.read_csv('tab_2_products_2020-01-01.csv')
df2_1_2 = pd.read_csv('tab_2_products_2020-01-11.csv')
df2_1_3 = pd.read_csv('tab_2_products_2020-01-21.csv')
df2_1_4 = pd.read_csv('tab_2_products_2020-01-31.csv')

In [30]:
df2_1_1['month']=1
df2_1_1['moment']=1
df2_1_2['month']=1
df2_1_2['moment']=2
df2_1_3['month']=1
df2_1_3['moment']=3
df2_1_4['month']=1
df2_1_4['moment']=4

In [31]:
df2_2_1 = pd.read_csv('tab_2_products_2020-02-10.csv')
df2_2_2 = pd.read_csv('tab_2_products_2020-02-20.csv')

In [32]:
df2_2_1['month']=2
df2_2_1['moment']=1
df2_2_2['month']=2
df2_2_2['moment']=3

In [33]:
df2_3_1 = pd.read_csv('tab_2_products_2020-03-01.csv')
df2_3_2 = pd.read_csv('tab_2_products_2020-03-11.csv')
df2_3_3 = pd.read_csv('tab_2_products_2020-03-21.csv')
df2_3_4 = pd.read_csv('tab_2_products_2020-03-31.csv')

In [34]:
df2_3_1['month']=3
df2_3_1['moment']=1
df2_3_2['month']=3
df2_3_2['moment']=2
df2_3_3['month']=3
df2_3_3['moment']=3
df2_3_4['month']=3
df2_3_4['moment']=3

In [35]:
cd D:\SberMarket\sbermarket_tab_2_2

D:\SberMarket\sbermarket_tab_2_2

In [36]:
df2_4_1 = pd.read_csv('tab_2_products_2020-04-10.csv')
df2_4_2 = pd.read_csv('tab_2_products_2020-04-20.csv')
df2_4_3 = pd.read_csv('tab_2_products_2020-04-30.csv')

In [37]:
df2_4_1['month']=4
df2_4_1['moment']=1
df2_4_2['month']=4
df2_4_2['moment']=2
df2_4_3['month']=4
df2_4_3['moment']=3

In [38]:
cd D:\SberMarket\sbermarket_tab_2_3

D:\SberMarket\sbermarket_tab_2_3

In [39]:
df2_5_1 = pd.read_csv('tab_2_products_2020-05-10.csv')
df2_5_2 = pd.read_csv('tab_2_products_2020-05-20.csv')
df2_5_3 = pd.read_csv('tab_2_products_2020-05-30.csv')

In [40]:
df2_5_1['month']=5
df2_5_1['moment']=1
df2_5_2['month']=5
df2_5_2['moment']=2
df2_5_3['month']=5
df2_5_3['moment']=3

In [41]:
cd D:\SberMarket\sbermarket_tab_2_4

D:\SberMarket\sbermarket_tab_2_4

In [42]:
df2_6_1 = pd.read_csv('tab_2_products_2020-06-09.csv')
df2_6_2 = pd.read_csv('tab_2_products_2020-06-19.csv')
df2_6_3 = pd.read_csv('tab_2_products_2020-06-29.csv')

In [43]:
df2_6_1['month']=6
df2_6_1['moment']=1
df2_6_2['month']=6
df2_6_2['moment']=2
df2_6_3['month']=6
df2_6_3['moment']=3

In [44]:
cd D:\SberMarket\sbermarket_tab_2_5

D:\SberMarket\sbermarket_tab_2_5

In [45]:
df2_7_1 = pd.read_csv('tab_2_products_2020-07-09.csv')
df2_7_2 = pd.read_csv('tab_2_products_2020-07-19.csv')
df2_7_3 = pd.read_csv('tab_2_products_2020-07-29.csv')

In [46]:
df2_7_1['month']=7
df2_7_1['moment']=1
df2_7_2['month']=7
df2_7_2['moment']=2
df2_7_3['month']=7
df2_7_3['moment']=3

In [47]:
cd D:\SberMarket\sbermarket_tab_2_6

D:\SberMarket\sbermarket_tab_2_6

In [48]:
df2_8_1 = pd.read_csv('tab_2_products_2020-08-08.csv')
df2_8_2 = pd.read_csv('tab_2_products_2020-08-18.csv')
df2_8_3 = pd.read_csv('tab_2_products_2020-08-28.csv')
df2_9_1 = pd.read_csv('tab_2_products_2020-09-07.csv')

In [49]:
df2_8_1['month']=8
df2_8_1['moment']=1
df2_8_2['month']=8
df2_8_2['moment']=2
df2_8_3['month']=8
df2_8_3['moment']=3
df2_9_1['month']=9
df2_9_1['moment']=1

In [50]:
df2 = pd.concat([df2_1_1,df2_1_2,df2_1_3,df2_1_4,df2_2_1,df2_2_2,df2_3_1,df2_3_2,df2_3_3,df2_3_4,df2_4_1,df2_4_2,df2_4_3,df2_5_1,df2_5_2,df2_5_3,df2_6_1,df2_6_2,df2_6_3,df2_7_1,df2_7_2,df2_7_3,df2_8_1,df2_8_2,df2_8_3,df2_9_1], ignore_index=True)

In [51]:
df2

,user_id,order_id,line_item_id,price,quantity,discount,product_name,product_id,brand_name,master_category_id,parent_category_id,month,moment
0,525,5354800,28381452,116.000000,4,0.000000,Лазанья Золотой Петушок мясной слоеный пирог з...,37548,Золотой Петушок,101.0,99,1,1
1,525,5354800,29242911,56.990002,2,13.080000,Хлеб Хлебный Дом Геркулес зерновой с отрубями ...,5636,Хлебный Дом,596.0,51,1,1
2,525,5354800,29242919,64.989998,2,40.020000,Тортилья Delicados оригинальная пшеничная,22107,Delicados,596.0,51,1,1
3,525,5354800,29243785,44.990002,6,0.000000,Вода питьевая минеральная BonAqua газированная...,2530,BonAqua,77.0,74,1,1
4,525,5354800,29244246,65.900002,6,30.990000,"Газированный напиток Mirinda Апельсин 1,5 л",3818486,Mirinda,76.0,74,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59596975,3142966,16654689,173388143,34.889999,1,17.700001,"Йогурт Epica гранат и малина 4,8% 130 г бзмж",71049,Epica,21.0,20,9,1
59596976,3142966,16654689,173388392,63.889999,1,73.000000,Шоколад Ritter Sport молочный с начинкой Клубн...,96217,Ritter Sport,60.0,56,9,1
59596977,3142966,16654689,173388690,63.889999,1,82.500000,Шоколад Ritter Sport молочный с начинкой Карам...,94125,Ritter Sport,60.0,56,9,1
59596978,3142966,16654689,173388868,298.489990,1,0.000000,Филе цыпленка-бройлера Троекурово охлажденное ...,4235874,Троекурово,122.0,119,9,1
59596979,3142966,16654689,173389498,210.589996,1,0.000000,Голень цыпленка-бройлера Троекурово охлажденна...,3850672,Троекурово,122.0,119,9,1

In [1]:
df2.to_csv('data_2.csv')

NameError: name 'df2' is not defined

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
DataFrame111 = pd.read_csv('data_2.csv')

In [4]:
DataFrame111

,Unnamed: 0,user_id,order_id,line_item_id,price,quantity,discount,product_name,product_id,brand_name,master_category_id,parent_category_id,month,moment
0,0,525,5354800,28381452,116.000000,4,0.000000,Лазанья Золотой Петушок мясной слоеный пирог з...,37548,Золотой Петушок,101.0,99,1,1
1,1,525,5354800,29242911,56.990002,2,13.080000,Хлеб Хлебный Дом Геркулес зерновой с отрубями ...,5636,Хлебный Дом,596.0,51,1,1
2,2,525,5354800,29242919,64.989998,2,40.020000,Тортилья Delicados оригинальная пшеничная,22107,Delicados,596.0,51,1,1
3,3,525,5354800,29243785,44.990002,6,0.000000,Вода питьевая минеральная BonAqua газированная...,2530,BonAqua,77.0,74,1,1
4,4,525,5354800,29244246,65.900002,6,30.990000,"Газированный напиток Mirinda Апельсин 1,5 л",3818486,Mirinda,76.0,74,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59596975,59596975,3142966,16654689,173388143,34.889999,1,17.700001,"Йогурт Epica гранат и малина 4,8% 130 г бзмж",71049,Epica,21.0,20,9,1
59596976,59596976,3142966,16654689,173388392,63.889999,1,73.000000,Шоколад Ritter Sport молочный с начинкой Клубн...,96217,Ritter Sport,60.0,56,9,1
59596977,59596977,3142966,16654689,173388690,63.889999,1,82.500000,Шоколад Ritter Sport молочный с начинкой Карам...,94125,Ritter Sport,60.0,56,9,1
59596978,59596978,3142966,16654689,173388868,298.489990,1,0.000000,Филе цыпленка-бройлера Троекурово охлажденное ...,4235874,Троекурово,122.0,119,9,1
59596979,59596979,3142966,16654689,173389498,210.589996,1,0.000000,Голень цыпленка-бройлера Троекурово охлажденна...,3850672,Троекурово,122.0,119,9,1

In [5]:
DataFrame111[DataFrame111['user_id'] == 51]['product_id'].value_counts().index[:50]

Int64Index([  14863,   19562,   63057, 3562687,     709,    9979, 3817489,
                456,     661,    5501,     655,   54728,   54710,     562,
            6005183,   57399, 3817538,   87007,   50190,     407,    2600,
            3562686,   46762,   55049,   84364,   84365,   93822,   63724,
              55133,   16219,       0,    5851,   64633, 3817487,   57398,
              93825, 5481648,   64216,    7397,   16420,     487,   58839,
              27471,   56900,   57383,   29788,   58780, 3817571, 7061902,
            4830888],
           dtype='int64')

In [6]:
DataFrame222 = pd.read_csv('sample_submission.csv')

In [7]:
Id = DataFrame222['Id'].values

In [8]:
DataFrame111[DataFrame111['user_id'] == 51]['product_id'].value_counts().index[:50]

Int64Index([  14863,   19562,   63057, 3562687,     709,    9979, 3817489,
                456,     661,    5501,     655,   54728,   54710,     562,
            6005183,   57399, 3817538,   87007,   50190,     407,    2600,
            3562686,   46762,   55049,   84364,   84365,   93822,   63724,
              55133,   16219,       0,    5851,   64633, 3817487,   57398,
              93825, 5481648,   64216,    7397,   16420,     487,   58839,
              27471,   56900,   57383,   29788,   58780, 3817571, 7061902,
            4830888],
           dtype='int64')

In [9]:
dataa = pd.DataFrame(columns=['id']+['pr'+str(i+1) for i in range(50)])

In [10]:
dataa

Empty DataFrame
Columns: [id, pr1, pr2, pr3, pr4, pr5, pr6, pr7, pr8, pr9, pr10, pr11, pr12, pr13, pr14, pr15, pr16, pr17, pr18, pr19, pr20, pr21, pr22, pr23, pr24, pr25, pr26, pr27, pr28, pr29, pr30, pr31, pr32, pr33, pr34, pr35, pr36, pr37, pr38, pr39, pr40, pr41, pr42, pr43, pr44, pr45, pr46, pr47, pr48, pr49, pr50]
Index: []

[0 rows x 51 columns]

In [11]:
ls=[]
for i in Id:
    
    data = DataFrame111[DataFrame111['user_id'] == i]['product_id'].value_counts().index[:50]
    
    ls.append([i]+list(data))

In [12]:
dataa = pd.DataFrame(ls, columns=['id']+['pr'+str(i+1) for i in range(50)])

In [13]:
dataa

,id,pr1,pr2,pr3,pr4,pr5,pr6,pr7,pr8,pr9,...,pr41,pr42,pr43,pr44,pr45,pr46,pr47,pr48,pr49,pr50
0,51,14863,19562.0,63057.0,3562687.0,709.0,9979.0,3817489.0,456.0,661.0,...,487.0,58839.0,27471.0,56900.0,57383.0,29788.0,58780.0,3817571.0,7061902.0,4830888.0
1,65,54728,18450.0,3817542.0,709.0,26062.0,18439.0,105764.0,77152.0,5541.0,...,105514.0,67035.0,848.0,1037.0,2063.0,69471.0,5479568.0,37122.0,4830912.0,12792.0
2,766,3043457,3041849.0,0.0,3042629.0,4033676.0,3497419.0,3497629.0,981.0,1037.0,...,3075445.0,74609.0,5060917.0,38931.0,94343.0,64712.0,67694.0,74633.0,9553.0,3850658.0
3,1132,95465,2599278.0,9970.0,91008.0,2629.0,1199.0,26590.0,6316.0,6749935.0,...,64017.0,26130.0,20499.0,6607636.0,7062038.0,16864.0,5073443.0,199461.0,4033580.0,5046391.0
4,1578,22161,19924.0,4513.0,45457.0,304.0,4689.0,69131.0,19562.0,39492.0,...,80451.0,26335.0,49924.0,106262.0,78672.0,45929.0,59100.0,87064.0,5154.0,5045462.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107063,2997849,93412,94112.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107064,2997853,60692,3818078.0,407.0,49921.0,3818498.0,96291.0,100804.0,0.0,26086.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107065,2997873,7062001,6210170.0,30361.0,60116.0,24851.0,67520.0,68465.0,8016.0,46762.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107066,2997988,6590,6692211.0,6003841.0,7392322.0,5479075.0,100.0,6749607.0,6749608.0,9867.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107067,2998048,21757,76069.0,74016.0,6691979.0,29647.0,6692436.0,6692437.0,77079.0,62233.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
dataa.to_csv('to_submit.csv')

In [22]:
top_products =  list(DataFrame111['product_id'].value_counts().index[:100])

In [21]:
import random

In [26]:
random.choice(top_products)

3817489

In [39]:
dataa

,id,pr1,pr2,pr3,pr4,pr5,pr6,pr7,pr8,pr9,...,pr41,pr42,pr43,pr44,pr45,pr46,pr47,pr48,pr49,pr50
0,51,14863,19562.0,63057.0,3562687.0,709.0,9979.0,3817489.0,456.0,661.0,...,487.0,58839.0,27471.0,56900.0,57383.0,29788.0,58780.0,3817571.0,7061902.0,4830888.0
1,65,54728,18450.0,3817542.0,709.0,26062.0,18439.0,105764.0,77152.0,5541.0,...,105514.0,67035.0,848.0,1037.0,2063.0,69471.0,5479568.0,37122.0,4830912.0,12792.0
2,766,3043457,3041849.0,0.0,3042629.0,4033676.0,3497419.0,3497629.0,981.0,1037.0,...,3075445.0,74609.0,5060917.0,38931.0,94343.0,64712.0,67694.0,74633.0,9553.0,3850658.0
3,1132,95465,2599278.0,9970.0,91008.0,2629.0,1199.0,26590.0,6316.0,6749935.0,...,64017.0,26130.0,20499.0,6607636.0,7062038.0,16864.0,5073443.0,199461.0,4033580.0,5046391.0
4,1578,22161,19924.0,4513.0,45457.0,304.0,4689.0,69131.0,19562.0,39492.0,...,80451.0,26335.0,49924.0,106262.0,78672.0,45929.0,59100.0,87064.0,5154.0,5045462.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107063,2997849,93412,94112.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107064,2997853,60692,3818078.0,407.0,49921.0,3818498.0,96291.0,100804.0,0.0,26086.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107065,2997873,7062001,6210170.0,30361.0,60116.0,24851.0,67520.0,68465.0,8016.0,46762.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107066,2997988,6590,6692211.0,6003841.0,7392322.0,5479075.0,100.0,6749607.0,6749608.0,9867.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107067,2998048,21757,76069.0,74016.0,6691979.0,29647.0,6692436.0,6692437.0,77079.0,62233.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
New_data = dataa.fillna(top_products[0])

In [41]:
New_data

,id,pr1,pr2,pr3,pr4,pr5,pr6,pr7,pr8,pr9,...,pr41,pr42,pr43,pr44,pr45,pr46,pr47,pr48,pr49,pr50
0,51,14863,19562.0,63057.0,3562687.0,709.0,9979.0,3817489.0,456.0,661.0,...,487.0,58839.0,27471.0,56900.0,57383.0,29788.0,58780.0,3817571.0,7061902.0,4830888.0
1,65,54728,18450.0,3817542.0,709.0,26062.0,18439.0,105764.0,77152.0,5541.0,...,105514.0,67035.0,848.0,1037.0,2063.0,69471.0,5479568.0,37122.0,4830912.0,12792.0
2,766,3043457,3041849.0,0.0,3042629.0,4033676.0,3497419.0,3497629.0,981.0,1037.0,...,3075445.0,74609.0,5060917.0,38931.0,94343.0,64712.0,67694.0,74633.0,9553.0,3850658.0
3,1132,95465,2599278.0,9970.0,91008.0,2629.0,1199.0,26590.0,6316.0,6749935.0,...,64017.0,26130.0,20499.0,6607636.0,7062038.0,16864.0,5073443.0,199461.0,4033580.0,5046391.0
4,1578,22161,19924.0,4513.0,45457.0,304.0,4689.0,69131.0,19562.0,39492.0,...,80451.0,26335.0,49924.0,106262.0,78672.0,45929.0,59100.0,87064.0,5154.0,5045462.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107063,2997849,93412,94112.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107064,2997853,60692,3818078.0,407.0,49921.0,3818498.0,96291.0,100804.0,0.0,26086.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107065,2997873,7062001,6210170.0,30361.0,60116.0,24851.0,67520.0,68465.0,8016.0,46762.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107066,2997988,6590,6692211.0,6003841.0,7392322.0,5479075.0,100.0,6749607.0,6749608.0,9867.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107067,2998048,21757,76069.0,74016.0,6691979.0,29647.0,6692436.0,6692437.0,77079.0,62233.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
New_data.to_csv('to_submit5.csv')